/* HTML tags  */ 

body{
	margin: 0;
	padding: 0;
}


/* Page  */
#page{
	width: 960px;
	/*height: 100%;*/
	margin: 0 auto;
	background: rgb(210, 230, 250);
	display: block;
}


/* header */ 
#header{
	width: 960px;
	height: 150px;
	display: block;
	background: rgb(30, 200, 40);

}

/* Maps content */ 
#map-wrap{
	width: 960px;
	height: 400px;
	margin-top: 20px;
	display: block;
	background: rgb(10, 90, 70);

}

#map{
	height: 400px;
	width: 640px;
	display: block;
	float: left;
	background: rgb(220, 90, 30);
}

#map-control-panel{
	height: 400px;
	width: 300px;
	float: right;
	display: block;
	background: rgb(70, 230, 90);
}

.layerCheckBox{
	
	
}

/* Content */
#content-wrap{
	min-height: 1px;
	width: 960px;
	margin-top: 20px;
	background: rgb(250, 50, 50);
}

#content{
	/*height: 500px;*/
	width: 960px;
	float: left;
	background: rgb(20, 90, 40);
}

/* Post entry */
.post{
	min-height: 200px;
	width: 940px;
}

.postTitle{
	width: 940px;
	font-size: 16pt;
	margin: 15px 0 0 10px;
}

.postDesc{
	margin-right: 10px;
}

.postImg{
	height: 128px;
	width: 128px;
	display: block;
	float: left;
	margin: 5px 15px 0 15px;
}

.postDescWrap{
	min-height: 140px;
}

.postMeta{
	width: 940px;
	margin-top: 10px;
}

.postAuthor{
	float: left;
	margin: 0 10px 0 20px;
}

.postViews{
	float: left;
	margin-left: 20px;
}

.postLike{
	float: left;
	margin-left: 20px;
}

.postDislike{
	float: left;
	margin-left: 20px;
}

.postReadMore{
	float: right;
}

/* footer */
#footer{
	margin: auto 0;
	width: 960px;
	background: rgb(70, 90, 240);
}